* {
    padding: 0px 0px;
    margin: 0px 0px;
}
header{ 
    position: relative;
    text-align: center;
    font-size: 62px;
    padding: 0px 0px 15px 0px;
    font-family: "Motiva Sans", Sans-serif;
}
body {
    background: rgb(16, 24, 34);
}
.mid {
    text-align: center;
    background: rgb(26, 40, 56);
    font-family: "Motiva Sans", Sans-serif;
}
.tablesize {
    width:  100px;
}
tr {
    background: rgb(230, 46, 39);
}
td {
    background: rgb(22, 32, 42);
    color: rgb(216, 216, 216);
}
#TablaNUM {
    text-align: center;
    display: inline-block;
    border: 2px solid rgb(0, 164, 255);
    background: rgb(22, 32, 42);
    padding: 10px 10px 10px 10px; 
}
p {
    text-align: left;
}
img.LogoProfile {
    height: 48px;
}
.Tablabanner {
	height: auto;
	width: 800px;
    text-align: center;
    font-family: "Motiva Sans", Sans-serif;
    display: inline-block;
    border: 2px solid rgb(22, 22, 22);
	background: rgb(32, 32, 32);
    padding: 10px 10px;
	margin: 20px 0px 10px 0px;
	color: rgb(250, 250, 250);
    position: relative;
}
.TableNUMint {
    text-align: center;
    border: 1px solid rgb(0, 167, 179);
}
.Tablaresult {
	height: auto;
	width: 524.5px;
    text-align: center;
    font-family: "Motiva Sans", Sans-serif;
    display: inline-block;
    border: 2px solid rgb(22, 22, 22);
    padding: 0px 10px;
	margin: 0px 0px 0px 0px;
	color: rgb(108, 206, 245);
    background: rgb(32, 32, 32);
}
.reglas {
    text-align: center;
}